mainsite/db.sqlite3
**/__pycache__/
mainsite/covidstats/static/covidstats/covid_stats.html
mainsite/static/covidstats/covid_stats.html
mainsite/static/.DS_Store
.DS_Store
mainsite/charts/BokehPlots/pickles
mainsite/charts/BokehPlots/geodata/geodata.pickle
mainsite/uk_covid_data.geojson
