{% extends "home/base.html" %}

{% block title %}<title>Charts</title>{% endblock %}

{% block head %}
    <script src="https://cdn.bokeh.org/bokeh/release/bokeh-2.2.0.min.js"></script>
    <script src="https://cdn.bokeh.org/bokeh/release/bokeh-widgets-2.2.0.min.js"></script>
    {{ script | safe }}
{% endblock %}

{% block content %}

<div>
    {% load static %}
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col" style="height:calc(100vh - 60px)">
            <h3>{{ graphname }}</h3>
            {{server_script|safe}}
        </div>
    </div>
</div>
{% endblock %}
