{% extends "highcharts/highcharts_base.html" %}

{% block title %}<title>Daily New Cases</title>{% endblock %}

{% block sidebarbutton %}
    <div class="row">
        <div class="col-sm-12">
            <button class="btn btn-primary mb-2" data-toggle="collapse" data-target="#test">Show/Hide Countries</input>
        </div>
    </div>
{% endblock %}

{% block countries %}
    <div class="col collapse countries_list chart_element" id="test">
        {% for country in countries %}
        <div class="custom-control custom-checkbox">
            <input type="checkbox" 
                   class="custom-control-input" 
                   id="{{country}}" 
                   name="{{country}}" 
                   onclick="checkboxClicked('{{ country }}')">
            <label class="custom-control-label" for="{{country}}">{{country}}</label>
        </div>
        {% endfor %}
    </div>
{% endblock %}
