{% extends "home/base.html" %}

{% block head %}
    {% load static %}
    <script src="{% static 'highcharts/highcharts.js' %}"></script>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        {% block sidebarbutton %}
        {% endblock %}
        <div class="row">
            {% block countries %}
            {% endblock %}
            <div class="col" id="chart_div" style="height: calc(100vh - 100px);">
            </div>
        </div>
    </div>

    {{ options|json_script:"options" }}

    <script type="text/javascript">
        const options = JSON.parse(document.getElementById('options').textContent);
        var myChart;

        document.addEventListener('DOMContentLoaded', function () {
            myChart = Highcharts.chart('chart_div', options);
        });
    </script>
    
{% endblock %}
