{% extends "home/base.html" %}

{% block title %}<title>Daily New Cases in Brighton and Hove</title>{% endblock %}

{% block head %}
    <script src="https://code.highcharts.com/highcharts.js"></script>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div id="chart_div" style="width: 100%; height: calc(100% - 54px); position: absolute;">
            </div>
        </div>
    </div>

    {{ options|json_script:"options" }}

    <script>
        const options = JSON.parse(document.getElementById('options').textContent);

        document.addEventListener('DOMContentLoaded', function () {
                var myChart = Highcharts.chart('chart_div', options);
        });

    </script>

{% endblock %}
