.chart_element {
    height: calc(100vh - 56px);
}

.countries_list_outer_div {
    max-width: 250px;
}

.countries_list {
    overflow-y: scroll;
}

.expander {
    max-width: 40px;
}

.expander-btn {
    max-width: 25px;
}

.expander-btn::before {
    content: '<';
}

.expander-btn.collapsed::before { 
    content: '>';
}

.collapsing {
    position: relative;
    height: 0;
    overflow: hidden;
    -webkit-transition-property: height, visibility;
    transition-property: height, visibility;
    -webkit-transition-duration: 0.35s;
    transition-duration: 0.35s;
    -webkit-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
  }

  .collapsing.width {
    -webkit-transition-property: width, visibility;
    transition-property: width, visibility;
    width: 0;
    height: auto;
  }
