{% extends "home/base.html" %}

{% block title %}<title>UK UTLAs</title>{% endblock %}

{% block head %}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
    integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
    crossorigin=""/>
    <!-- Make sure you put this AFTER Leaflet's CSS -->
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
    integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
    crossorigin=""></script>
    {% load static %}
    <link rel="stylesheet" href="{% static 'LeafletMaps/map-styles.css' %}"/>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div id="mapid">
                <!-- <script>
                    var xmlhttp = new XMLHttpRequest();
                    xmlhttp.onreadystatechange = function() {
                        if (this.readyState == 4 && this.status == 200) {
                            var geojsonFeature = JSON.parse(this.responseText);
                        }
                    };
                    xmlhttp.open("GET", "file:///Users/steve/Documents/Coding/html/maps/data/Counties_and_Unitary_Authorities__December_2019__Boundaries_UK_BUC.geojson", true);
                    xmlhttp.send();
                </script> -->
                {% load static %}
                <script type="text/javascript" src="{% static 'LeafletMaps/Counties_and_Unitary_Authorities__December_2019__Boundaries_UK_BUC.js' %}"></script>
                <script type="text/javascript" src="{% static 'LeafletMaps/maps.js' %}"></script>
            </div>
        </div>
    </div>

{% endblock %}
