{% extends "home/base.html" %}

{% block title %}<title>Go Test</title>{% endblock %}

{% block head %}
{% endblock %}

{% block content %}
<div>
    <canvas id="canvas" width="1024" height="768"/>
</div>

{% load static %}
<script src="{% static 'go_test/wasm_exec.js' %}"></script>
<script>
    const go = new Go();
    WebAssembly.instantiateStreaming(fetch("{% static 'go_test/canvas-test.wasm' %}"), go.importObject).then((result) => {
        go.run(result.instance);
    });
</script>

{% load static %}

{% endblock %}
