<!-- templates/registration/login.html -->
{% extends 'home/base.html' %}

{% block title %}<title>Login</title>{% endblock %}

{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <h2>Login</h2>
      <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-primary" type="submit">Login</button>
        <a class="btn btn-primary" href="/accounts/signup">Sign up</a>
      </form>
    </div>
  </div>
</div>

{% endblock %}